<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/munisaazimkhodjaeva/IntelliJ IDEA/Java_Programming/iTechArt_AQA/Review_Automation/NewAutomation/src/test/java/APITests/Project/CreateProject/Positive/CreateProjectPositiveCases.java">
    <classes>
        <class name="APITests.Project.CreateProject.Positive.CreateProjectPositiveCases">
            <methods>
                <include name="createProjectPositiveCase"/>
        </methods>
        </class>
        <class name="APITests.Project.CreateProject.Negative.CreateProjectNegativeCases">
            <methods>
                <include name="createProjectWithMinimumLength"/>
                <include name="createProjectWithMaximumLength"/>
                <include name="createProjectWithEmptyTitle"/>
                <include name="createProjectWithEmptyCode"/>
                <include name="createProjectUnathenticated"/>
            </methods>
        </class>
        <class name="APITests.Project.DeleteProject.Positive.DeleteProjectPositiveCases">
            <methods>
                <include name="deleteProjectByCode"/>
            </methods>
        </class>
    </classes>
</test>
</suite>